


#slider{
    width: 70%;
    height: 62vh;
    max-height: 850px;
    margin:0 auto 50px;
    position: relative;
    
}

#slider img{
    text-align: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 800ms linear;
}

#slider img.selected{
    opacity: 1;
    transition: opacity 800ms linear;
}

#main{
    margin: auto;
    

}

#main h1{
    display: block;
    margin: 25px 10%;
}

#articles{
    margin: auto 10% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    gap: 30px 5px;
}

.article{
    color: var(--primary-color);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    gap: 10px;
    min-width: 380px;

    
}

.article div{
    padding: 20px;
    font-size: 14px;
    width: calc(100% - 35%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 -15px;
    
}


.article h2{
    color: var(--text-emph);
    font-size: 18px;
}

.article img{
    position: relative;
    top: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

