:root{
    --secondary-color:#C8E0F4;
    --complement-color1:#9DD1F1;
    --primary-color:#031927;
    --text-emph:#BA1200;
    --complement-color2:#508AA8;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: sans-serif;
    color: var(--primary-color);
}



#slider{
    width: 100%;
    height: 18vh;
    max-height: 150px;
    margin: 50px 0;
    
}

#slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#main

.article{
    color: var(--primary-color);
    
}


.article h2{
    color: var(--text-emph);
}

.article img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}